app-social {
    float: right;
    margin-top: 25px;
    margin-right: 10px;
}

@media (max-width: 575px) {
    .container {
        flex-direction: column;
    }
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

