<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpeg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 font1">
        <h3 id="nombre">Valentín Ferrari</h3>
        <h3 id="fullstack">Full Stack Developer Jr</h3>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 class="font1">Acerca de mí</h1>
            <p class="font2">¡Hola! Soy Valentín, tengo 23 años y soy de Alta Gracia, Córdoba. Siempre fui amante de la tecnología y actualmente estoy incursionando en el desarrollo web. Busco formar parte de proyectos para expandir mis conocimientos y experiencia laboral.</p>
        </span>
    </div>
</div>
