<div class="row text-center font1">
    <h1 id="tituloHS">Hard Skills</h1>
    <div class="col-sm-4 col-md-3 col-lg-2">
        <circle-progress
                [percent]="90"
                [radius]="70"
                [backgroundColor]='"#FFFFFF"'
                [backgroundPadding]="-11"
                [imageSrc]="'../assets/html5.svg'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeGradient]="true"
                [outerStrokeColor]='"#50CC7F"'
                [outerStrokeGradientStopColor]='"#F5D100"'
                [outerStrokeWidth]="12"
                [innerStrokeWidth]="2"
                [innerStrokeColor]="'#FFFFFF'"
                [animation]="true"
                [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
        <circle-progress
                [percent]="65"
                [radius]="70"
                [backgroundColor]='"#FFFFFF"'
                [backgroundPadding]="-11"
                [imageSrc]="'../assets/css3.svg'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeGradient]="true"
                [outerStrokeColor]='"#007ADF"'
                [outerStrokeGradientStopColor]='"#00ECBC"'
                [outerStrokeWidth]="12"
                [innerStrokeWidth]="2"
                [innerStrokeColor]="'#FFFFFF'"
                [animation]="true"
                [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
        <circle-progress
                [percent]="70"
                [radius]="70"
                [backgroundColor]='"#FFFFFF"'
                [backgroundPadding]="-11"
                [imageSrc]="'../assets/bootstrap.svg'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeGradient]="true"
                [outerStrokeColor]='"#20E2D7"'
                [outerStrokeGradientStopColor]='"#F9FEA5"'
                [outerStrokeWidth]="12"
                [innerStrokeWidth]="2"
                [innerStrokeColor]="'#FFFFFF'"
                [animation]="true"
                [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
        <circle-progress
                [percent]="55"
                [radius]="70"
                [backgroundColor]='"#FFFFFF"'
                [backgroundPadding]="-11"
                [imageSrc]="'../assets/javascript.svg'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeGradient]="true"
                [outerStrokeColor]='"#00DBDE"'
                [outerStrokeGradientStopColor]='"#FC00FF"'
                [outerStrokeWidth]="12"
                [innerStrokeWidth]="2"
                [innerStrokeColor]="'#FFFFFF'"
                [animation]="true"
                [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
        <circle-progress
                [percent]="50"
                [radius]="70"
                [backgroundColor]='"#FFFFFF"'
                [backgroundPadding]="-11"
                [imageSrc]="'../assets/typescript.svg'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeGradient]="true"
                [outerStrokeColor]='"#F9D423"'
                [outerStrokeGradientStopColor]='"#FF4E50"'
                [outerStrokeWidth]="12"
                [innerStrokeWidth]="2"
                [innerStrokeColor]="'#FFFFFF'"
                [animation]="true"
                [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
        <circle-progress
                [percent]="65"
                [radius]="70"
                [backgroundColor]='"#FFFFFF"'
                [backgroundPadding]="-11"
                [imageSrc]="'../assets/angular.svg'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeGradient]="true"
                [outerStrokeColor]='"#CC208E"'
                [outerStrokeGradientStopColor]='"#6713D2"'
                [outerStrokeWidth]="12"
                [innerStrokeWidth]="2"
                [innerStrokeColor]="'#FFFFFF'"
                [animation]="true"
                [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
        <circle-progress
                [percent]="55"
                [radius]="70"
                [backgroundColor]='"#FFFFFF"'
                [backgroundPadding]="-11"
                [imageSrc]="'../assets/java.svg'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeGradient]="true"
                [outerStrokeColor]='"#4FACFE"'
                [outerStrokeGradientStopColor]='"#00F2FE"'
                [outerStrokeWidth]="12"
                [innerStrokeWidth]="2"
                [innerStrokeColor]="'#FFFFFF'"
                [animation]="true"
                [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
        <circle-progress
                [percent]="60"
                [radius]="70"
                [backgroundColor]='"#FFFFFF"'
                [backgroundPadding]="-11"
                [imageSrc]="'../assets/spring.svg'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeGradient]="true"
                [outerStrokeColor]='"#EECE13"'
                [outerStrokeGradientStopColor]='"#B210FF"'
                [outerStrokeWidth]="12"
                [innerStrokeWidth]="2"
                [innerStrokeColor]="'#FFFFFF'"
                [animation]="true"
                [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
        <circle-progress
                [percent]="50"
                [radius]="70"
                [backgroundColor]='"#FFFFFF"'
                [backgroundPadding]="-11"
                [imageSrc]="'../assets/mysql.svg'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeGradient]="true"
                [outerStrokeColor]='"#F97794"'
                [outerStrokeGradientStopColor]='"#623AA2"'
                [outerStrokeWidth]="12"
                [innerStrokeWidth]="2"
                [innerStrokeColor]="'#FFFFFF'"
                [animation]="true"
                [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
        <circle-progress
                [percent]="70"
                [radius]="70"
                [backgroundColor]='"#FFFFFF"'
                [backgroundPadding]="-11"
                [imageSrc]="'../assets/git.svg'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeGradient]="true"
                [outerStrokeColor]='"#A0FE65"'
                [outerStrokeGradientStopColor]='"#FA016D"'
                [outerStrokeWidth]="12"
                [innerStrokeWidth]="2"
                [innerStrokeColor]="'#FFFFFF'"
                [animation]="true"
                [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
        <circle-progress
                [percent]="75"
                [radius]="70"
                [backgroundColor]='"#FFFFFF"'
                [backgroundPadding]="-11"
                [imageSrc]="'../assets/github.svg'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeGradient]="true"
                [outerStrokeColor]='"#FFE98A"'
                [outerStrokeGradientStopColor]='"#D74177"'
                [outerStrokeWidth]="12"
                [innerStrokeWidth]="2"
                [innerStrokeColor]="'#FFFFFF'"
                [animation]="true"
                [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2">
        <circle-progress
                [percent]="75"
                [radius]="70"
                [backgroundColor]='"#FFFFFF"'
                [backgroundPadding]="-11"
                [imageSrc]="'../assets/ingles.svg'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeGradient]="true"
                [outerStrokeColor]='"#EA6E6E"'
                [outerStrokeGradientStopColor]='"#9375FE"'
                [outerStrokeWidth]="12"
                [innerStrokeWidth]="2"
                [innerStrokeColor]="'#FFFFFF'"
                [animation]="true"
                [animationDuration]="600"
        ></circle-progress>
    </div>
    <h1 id="tituloSS">Soft Skills</h1>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <circle-progress
                [percent]="95"
                [radius]="125"
                [backgroundColor]='"#FFFFFF"'
                [backgroundPadding]="-11"
                [title]='"Resolución de problemas"'
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeGradient]="true"
                [outerStrokeColor]='"#CC208E"'
                [outerStrokeGradientStopColor]='"#6713D2"'
                [outerStrokeWidth]="12"
                [innerStrokeWidth]="2"
                [innerStrokeColor]="'#FFFFFF'"
                [animation]="true"
                [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <circle-progress class="font1"
                [percent]="90"
                [radius]="125"
                [backgroundColor]='"#FFFFFF"'
                [backgroundPadding]="-11"
                [title]='"Trabajo en equipo"'
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeGradient]="true"
                [outerStrokeColor]='"#F9D423"'
                [outerStrokeGradientStopColor]='"#FF4E50"'
                [outerStrokeWidth]="12"
                [innerStrokeWidth]="2"
                [innerStrokeColor]="'#FFFFFF'"
                [animation]="true"
                [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
        <circle-progress
                [percent]="85"
                [radius]="125"
                [backgroundColor]='"#FFFFFF"'
                [backgroundPadding]="-11"
                [title]='"Comunicación"'
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeGradient]="true"
                [outerStrokeColor]='"#007ADF"'
                [outerStrokeGradientStopColor]='"#00ECBC"'
                [outerStrokeWidth]="12"
                [innerStrokeWidth]="2"
                [innerStrokeColor]="'#FFFFFF'"
                [animation]="true"
                [animationDuration]="600"
        ></circle-progress>
    </div>
</div>