<div class="row">
    <h1 class="font1">Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1 class="font1">Trabajo 1</h1> - <h3 class="font1">(years)</h3>
            </li>
            <p class="font2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, commodi? Sint laboriosam, illo illum laudantium nostrum aperiam, eaque rerum porro dolorem impedit soluta voluptatibus suscipit obcaecati fugit! Quidem, fuga? Rerum!
            </p>    
        </ul>
        <ul>
            <li>
                <h1 class="font1">Trabajo 2</h1> - <h3 class="font1">(years)</h3>
            </li>
            <p class="font2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, commodi? Sint laboriosam, illo illum laudantium nostrum aperiam, eaque rerum porro dolorem impedit soluta voluptatibus suscipit obcaecati fugit! Quidem, fuga? Rerum!
            </p>    
        </ul>
        <ul>
            <li>
                <h1 class="font1">Trabajo 3</h1> - <h3 class="font1">(years)</h3>
            </li>
            <p class="font2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, commodi? Sint laboriosam, illo illum laudantium nostrum aperiam, eaque rerum porro dolorem impedit soluta voluptatibus suscipit obcaecati fugit! Quidem, fuga? Rerum!
            </p>    
        </ul>
    </div>
</div>
