<div class="row">
    <h1 class="font1">Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="proyecto1">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h2 class="font1">Portfolio Freelancer</h2>
                <p class="font2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate accusamus eum dicta dolore fuga voluptatem cum, cumque error odio fugit repellendus voluptas aspernatur tempora illo consequatur? Voluptas nobis esse iste?</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/freelancer.png" class="img-fluid img-proyecto">
            </div>
        </div>
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte3">
                <h2 class="font1">Proyecto Integrador </h2>
                <p class="font2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate accusamus eum dicta dolore fuga voluptatem cum, cumque error odio fugit repellendus voluptas aspernatur tempora illo consequatur? Voluptas nobis esse iste?</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte4">
                <img src="../../../assets/proyectointegrador.png" class="img-fluid img-proyecto">
            </div>
        </div>
    </div>
</div>